<section class="grid grid-cols-2 content-center items-center">
    <div class="text-left ">

        <h1 class="text-6xl font-bold">Les Centres musicaux Gagné</h1>
        <p class="text-[#a0abc0] mt-8">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, id. Tempore, repellendus fuga commodi animi doloribus in velit eveniet consectetur? Neque cupiditate molestiae vitae libero dolorem ea soluta ad doloremque!</p>
    </div>
    <div class="">
        
        <img class="aspect-16/9  w-full h-full rounded-4xl " src="https://media.gettyimages.com/id/1280373829/photo/young-couple-working-behind-counter-in-music-store.jpg?s=2048x2048&w=gi&k=20&c=49hgUYdgzafj0oohw5bHnFTdbnaKorxd8X0it8J2AGA=" alt="">
    </div>
</section>