<section
    class="flex bg-[#B11B15] text-white h-[calc(100vh-128px)] md:flex-row flex-col content-center items-center gap-x-8 gap-y-8 md:gap-y-4">
    <div class="text-left flex-2">

        <h1 class="text-3xl md:text-6xl font-bold">Les Centres musicaux Gagné</h1>
        <p class="text-[#a0abc0] md:mt-8">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, id. Tempore,
            repellendus fuga commodi animi doloribus in velit eveniet consectetur? Neque cupiditate molestiae vitae
            libero dolorem ea soluta ad doloremque!</p>
    </div>
    <div class="flex-1">

        <img class="aspect-16/9  w-full h-full rounded-4xl "
            src="https://media.gettyimages.com/id/1280373829/photo/young-couple-working-behind-counter-in-music-store.jpg?s=2048x2048&w=gi&k=20&c=49hgUYdgzafj0oohw5bHnFTdbnaKorxd8X0it8J2AGA="
            alt="">
    </div>
</section>