<header class="flex h-32 items-center justify-center px-4 sm:px-8">
  <nav class="flex w-full max-w-page items-center px-4 gap-8">
    <a routerLink="/">
      <img
        alt="Logo"
        class="h-32 min-w-32"
        height="48"
        src="/logo.png"
        width="48"
      />
    </a>

    <ul class="items-center gap-7 flex">
      <li *ngFor="let link of links">
        <a class="hover:underline" [routerLink]="link.href">
          {{ link.label }}
        </a>
      </li>
    </ul>
  </nav>
</header>
