<section
	class="bg-background-secondary flex h-[calc(100vh-128px)] flex-col items-center justify-center gap-8 text-white md:flex-row"
>
	<div class="max-w-page flex flex-col items-center md:flex-row">
		<div class="w-1/2">
			<h1 class="text-3xl font-semibold md:text-6xl">
				Les Centres musicaux Gagné <lucide-icon class="text-secondary inline" size="48" [img]="Music2"></lucide-icon>
			</h1>

			<p class="text-muted text-lg md:mt-8">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, id. Tempore, repellendus fuga commodi animi doloribus in
				velit eveniet consectetur? Neque cupiditate molestiae vitae libero dolorem ea soluta ad doloremque!
			</p>
		</div>

		<img class="w-1/2 rounded-lg" ngSrc="/landing/hero.png" alt="" height="584" width="944" />
	</div>
</section>
