<section class="px-5 py-6 text-center">
	<h2 class="mb-18 text-[2rem] font-bold text-gray-900">Achat D'instruments</h2>

	<div class="mx-auto mb-30 inline-grid grid-cols-2 gap-18">
		<div class="container flex h-full items-center justify-center">
			<div class="intro section text-center">
				<div class="text-left">
					<h1 class="mb-4 text-[1.8rem] font-semibold">Trouvez l’instrument qui vous ressemble</h1>
					<p class="text-[1.3rem] text-gray-400">
						Acheter un instrument est une étape importante pour tout musicien. Que vous soyez débutant ou confirmé, notre équipe
						est là pour vous conseiller et vous guider dans votre choix. Nous proposons une large sélection d’instruments adaptés
						à tous les niveaux et tous les styles.
					</p>
				</div>
			</div>
		</div>

		<div class="container flex h-full items-center justify-center">
			<div class="text-center">
				<div>
					<img
						src="https://www.shutterstock.com/image-photo/handsome-bearded-curly-man-buying-600nw-2261209681.jpg"
						alt="Joueur de guitare"
						class="h-8/12 w-10/12 rounded-3xl object-cover"
					/>
				</div>
			</div>
		</div>
	</div>

	<div class="section mx-30 mb-18">
		<h1 class="mb-4 text-[1.8rem] font-semibold">Une qualité garantie, un service personnalisé</h1>
		<p class="text-left text-[1.3rem] text-gray-400">
			Tous nos instruments sont soigneusement sélectionnés pour leur qualité et leur durabilité. En magasin, vous pouvez essayer,
			comparer et poser toutes vos questions à nos conseillers passionnés. Notre objectif : que vous repartiez avec l’instrument
			qui vous correspond vraiment, en toute confiance.
		</p>
	</div>

	<h2 class="mb-4 text-[1.8rem] font-semibold">Offres spéciales & facilités de paiement</h2>
	<p class="mx-auto mb-8 text-sm text-[1.3rem] text-gray-400">
		Profitez régulièrement de promotions sur une sélection d’instruments neufs ou d’occasion. Nous proposons également des
		solutions de financement flexibles pour vous permettre d’acquérir l’instrument de vos rêves en toute sérénité. Payez en
		plusieurs fois sans frais et commencez à jouer dès aujourd’hui.
	</p>

	<div class="mb-18 flex flex-wrap justify-center gap-6">
		<!-- Guitare -->
		<div class="group w-75 overflow-hidden rounded-xl bg-white shadow-md transition duration-300 ease-in-out hover:bg-gray-100">
			<img
				src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/45/GuitareClassique5.png/330px-GuitareClassique5.png"
				alt="Guitare"
				class="h-70 w-full object-contain p-4"
			/>
			<div class="bg-pink-100 py-6 transition duration-300 ease-in-out group-hover:bg-red-300">
				<h3 class="text-[2rem] font-medium text-gray-800">Guitare</h3>
				<div
					class="mt-2 inline-block rounded-full bg-pink-200 px-3 py-1 text-sm font-semibold text-red-600 transition duration-300 ease-in-out group-hover:bg-red-500 group-hover:text-white"
				>
					20$
				</div>
			</div>
		</div>

		<!-- Trompette -->
		<div class="group w-75 overflow-hidden rounded-xl bg-white shadow-md transition duration-300 ease-in-out hover:bg-gray-100">
			<img
				src="https://static.vecteezy.com/system/resources/previews/049/952/750/non_2x/brass-trumpet-shining-under-bright-studio-lights-cut-out-transparent-png.png"
				alt="Trompette"
				class="h-70 w-full object-contain p-4"
			/>
			<div class="bg-pink-100 py-6 transition duration-300 ease-in-out group-hover:bg-red-300">
				<h3 class="text-[2rem] font-medium text-gray-800">Trompette</h3>
				<div
					class="mt-2 inline-block rounded-full bg-pink-200 px-3 py-1 text-sm font-semibold text-red-600 transition duration-300 ease-in-out group-hover:bg-red-500 group-hover:text-white"
				>
					30$
				</div>
			</div>
		</div>

		<!-- Violon -->
		<div class="group w-75 overflow-hidden rounded-xl bg-white shadow-md transition duration-300 ease-in-out hover:bg-gray-100">
			<img
				src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Violin_VL100.png/330px-Violin_VL100.png"
				alt="Violon"
				class="h-70 w-full object-contain p-4"
			/>
			<div class="bg-pink-100 py-6 transition duration-300 ease-in-out group-hover:bg-red-300">
				<h3 class="text-[2rem] font-medium text-gray-800">Violon</h3>
				<div
					class="mt-2 inline-block rounded-full bg-pink-200 px-3 py-1 text-sm font-semibold text-red-600 transition duration-300 ease-in-out group-hover:bg-red-500 group-hover:text-white"
				>
					40$
				</div>
			</div>
		</div>
	</div>

	<div class="section mb-18">
		<div class="mt-8 rounded-lg p-6">
			<h3 class="mb-4 text-[1.8rem] font-semibold text-gray-800">Comment acheter ?</h3>
			<p class="mb-6 text-[1.3rem] text-gray-400">
				Passez dans une de nos succursales. Pour plus d’informations sur les équipements ou toutes autres questions, n’hésitez pas
				à nous contacter!
			</p>
			<div class="text-center">
				<button
					class="rounded bg-red-400 px-4 py-4 font-semibold text-white transition duration-300 ease-in-out hover:bg-red-500"
				>
					Voir les succursales et méthodes de contact
				</button>
			</div>
		</div>
	</div>
</section>
