<!-- <div className="relative">
    <Image
        alt="Orb"
        className="absolute -left-[600px] -z-10 min-w-[850px]"
        height={850}
        priority
        src="/assets/orbs/1.png"
        width={850}
    />

    <h1>
        // code pour te situer, pas besoin de l'inclure
    </h1>

    <h2>
        // code pour te situer, pas besoin de l'inclure
    </h2>
</div> -->
<div class="">
	<app-icon [width]="64" [heigth]="500" [name]="'Icon Double Note.svg'"></app-icon>
	<!-- <app-icon></app-icon> -->
	<!-- <app-icon></app-icon>s -->
</div>
