<section class="py-6 px-5 text-center font-sans">
  <h2 class="text-[2rem] font-bold mb-18 text-gray-900">
    Nom du Service
  </h2>

  <div class="mx-auto inline-grid grid-cols-2 gap-18 mb-30">

    <div class="container flex items-center justify-center h-full">
      <div class="intro section text-center">
        <div class="text-left">
          <h1 class="text-[1.8rem] font-semibold mb-4">Lorem ipsum dolor sit amet</h1>
          <p class="text-gray-400 text-[1.3rem]">
            Lorem ipsum dolor sit amet consectetur. Et consectetur malesuada quam risus nunc congue et. Turpis quam et nunc varius cursus diam. Urna justo mattis aliquam praesent odio.
          </p>
        </div>
      </div>
    </div>

    <div class="container flex items-center justify-center h-full">
      <div class="text-center">
        <div>
          <img src="https://images-cdn.9gag.com/photo/aL155KA_700b.jpg" alt="Joueur de guitare" class="w-10/12 h-8/12 object-cover rounded-3xl">
        </div>
      </div>
    </div>
  </div>

      <div class="section mb-18 mx-30">
        <h1 class="text-[1.8rem] font-semibold mb-4">Lorem ipsum dolor sit amet</h1>
        <p class="text-left text-gray-400 text-[1.3rem]">Tristique odio nulla a velit lectus adipiscing. In duis auctor dignissim cras nam suscipit neque mattis adipiscing. Nam fringilla tortor sit accumsan eget arcu faucibus vel mattis. Viverra et risus tincidunt odio dui ac augue. In et lobortis imperdiet vel sed. Et cursus egestas semper mi vitae.
          Amet nulla arcu ipsum morbi volutpat id tincidunt orci nullam. Eget sed vestibulum cum tortor maecenas fringilla vel sit amet. Ac elit morbi vel neque. Sed feugiat amet in interdum cursus sem justo.
        </p>
      </div>

      <div class="section mb-18">

          <div class="mt-8 rounded-lg p-6">
            <h3 class="text-[1.8rem] font-semibold text-gray-800 mb-4">Comment louer ?</h3>
            <p class="text-gray-400 mb-6 text-[1.3rem]">
              Réservez dans une de nos succursales. Pour plus d’informations sur les équipements ou toutes autres questions, n’hésitez pas à nous contacter!
            </p>
            <div class="text-center">
              <button class="bg-red-400 text-white font-semibold py-4 px-4 rounded hover:bg-red-500 transition duration-300 ease-in-out">
                Voir les succursales et méthodes de contact
              </button>
            </div>
          </div>
        </div>
</section>

