<section class="px-5 py-6 text-center">
	<h2 class="mb-18 text-[2rem] font-bold text-gray-900">Location D'instruments</h2>

	<div class="mx-auto mb-30 inline-grid grid-cols-2 gap-18">
		<div class="container flex h-full items-center justify-center">
			<div class="intro section text-center">
				<div class="text-left">
					<h1 class="mb-4 text-[1.8rem] font-semibold">Trouvez l’instrument parfait pour vous</h1>
					<p class="text-[1.3rem] text-gray-400">
						Vous souhaitez apprendre la musique sans investir immédiatement dans un instrument coûteux ? Notre service de location
						vous permet d’accéder à des instruments de qualité à petit prix. Que vous soyez débutant ou musicien confirmé, nous
						avons ce qu’il vous faut.
					</p>
				</div>
			</div>
		</div>

		<div class="container flex h-full items-center justify-center">
			<div class="text-center">
				<div>
					<img
						src="https://media.istockphoto.com/id/1385034381/photo/shot-of-a-young-man-listening-to-his-father-play-the-guitar-at-home.jpg?s=612x612&w=0&k=20&c=3R0atBp-OBHJ7kgcE9OFpTr3OLYIBSnAa0Uf7WnEXWg="
						alt="Joueur de guitare"
						class="h-8/12 w-10/12 rounded-3xl object-cover"
					/>
				</div>
			</div>
		</div>
	</div>

	<div class="section mx-30 mb-18">
		<h1 class="mb-4 text-[1.8rem] font-semibold">La musique à la portée de tous</h1>
		<p class="text-left text-[1.3rem] text-gray-400">
			Chez nous, la musique est un droit, pas un luxe. Grâce à notre service flexible et accessible, vous pouvez louer un
			instrument pour quelques semaines ou plusieurs mois, selon vos besoins. Tous nos instruments sont soigneusement entretenus
			pour vous offrir la meilleure expérience possible.
		</p>
	</div>

	<h2 class="mb-4 text-[1.8rem] font-semibold">Équipement à louer</h2>
	<p class="mx-auto mb-8 max-w-xl text-sm text-[1.3rem] text-gray-400">
		Les tarifs des locations sont fixés par mois et ils peuvent varier selon le modèle d'instrument choisi. Ces prix correspondent
		aux modèles moins chers.
	</p>

	<div class="mb-18 flex flex-wrap justify-center gap-6">
		<!-- Guitare -->
		<div class="group w-75 overflow-hidden rounded-xl bg-white shadow-md transition duration-300 ease-in-out hover:bg-gray-100">
			<img
				src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/45/GuitareClassique5.png/330px-GuitareClassique5.png"
				alt="Guitare"
				class="h-70 w-full object-contain p-4"
			/>
			<div class="bg-pink-100 py-6 transition duration-300 ease-in-out group-hover:bg-red-300">
				<h3 class="text-[2rem] font-medium text-gray-800">Guitare</h3>
				<div
					class="mt-2 inline-block rounded-full bg-pink-200 px-3 py-1 text-sm font-semibold text-red-600 transition duration-300 ease-in-out group-hover:bg-red-500 group-hover:text-white"
				>
					20$
				</div>
			</div>
		</div>

		<!-- Trompette -->
		<div class="group w-75 overflow-hidden rounded-xl bg-white shadow-md transition duration-300 ease-in-out hover:bg-gray-100">
			<img
				src="https://static.vecteezy.com/system/resources/previews/049/952/750/non_2x/brass-trumpet-shining-under-bright-studio-lights-cut-out-transparent-png.png"
				alt="Trompette"
				class="h-70 w-full object-contain p-4"
			/>
			<div class="bg-pink-100 py-6 transition duration-300 ease-in-out group-hover:bg-red-300">
				<h3 class="text-[2rem] font-medium text-gray-800">Trompette</h3>
				<div
					class="mt-2 inline-block rounded-full bg-pink-200 px-3 py-1 text-sm font-semibold text-red-600 transition duration-300 ease-in-out group-hover:bg-red-500 group-hover:text-white"
				>
					30$
				</div>
			</div>
		</div>

		<!-- Violon -->
		<div class="group w-75 overflow-hidden rounded-xl bg-white shadow-md transition duration-300 ease-in-out hover:bg-gray-100">
			<img
				src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Violin_VL100.png/330px-Violin_VL100.png"
				alt="Violon"
				class="h-70 w-full object-contain p-4"
			/>
			<div class="bg-pink-100 py-6 transition duration-300 ease-in-out group-hover:bg-red-300">
				<h3 class="text-[2rem] font-medium text-gray-800">Violon</h3>
				<div
					class="mt-2 inline-block rounded-full bg-pink-200 px-3 py-1 text-sm font-semibold text-red-600 transition duration-300 ease-in-out group-hover:bg-red-500 group-hover:text-white"
				>
					40$
				</div>
			</div>
		</div>
	</div>

	<div class="section mb-18">
		<div class="mt-8 rounded-lg p-6">
			<h3 class="mb-4 text-[1.8rem] font-semibold text-gray-800">Comment louer ?</h3>
			<p class="mb-6 text-[1.3rem] text-gray-400">
				Réservez dans une de nos succursales. Pour plus d’informations sur les équipements ou toutes autres questions, n’hésitez
				pas à nous contacter!
			</p>
			<div class="text-center">
				<button
					class="rounded bg-red-400 px-4 py-4 font-semibold text-white transition duration-300 ease-in-out hover:bg-red-500"
				>
					Voir les succursales et méthodes de contact
				</button>
			</div>
		</div>
	</div>
</section>
