<section class="flex flex-col content-center items-center gap-x-8 gap-y-8 md:gap-y-8">
	<h2 class="text-3xl font-bold md:text-5xl">Qui nous sommes</h2>

	<div class="flex flex-col gap-6 md:flex-row">
		<img class="w-1/2 rounded-lg" ngSrc="/landing/hero.png" alt="" height="584" width="944" />

		<div class="flex w-1/2 flex-col justify-center gap-2">
			<h3 class="text-xl font-semibold md:text-3xl">Lorem ipsum dolor sit amet.</h3>

			<p class="text-muted">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, id. Tempore, repellendus fuga commodi animi doloribus in
				velit eveniet consectetur? Neque cupiditate molestiae vitae libero dolorem ea soluta ad doloremque! Lorem ipsum dolor sit
				amet consectetur adipisicing elit. Ex ipsa quam aut quae perferendis tenetur distinctio accusamus sunt, velit omnis alias
				nesciunt dicta minus inventore culpa! Consequatur quia rerum fugiat. Neque cupiditate molestiae vitae libero dolorem ea
				soluta ad doloremque! Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex ipsa quam aut quae perferendis tenetur
				distinctio accusamus sunt, velit omnis alias nesciunt dicta minus inventore culpa! Consequatur quia rerum fugiat.
			</p>
		</div>
	</div>
</section>
