<section class="flex  flex-col content-center items-center gap-x-8 gap-y-8 md:gap-y-8" >
    <h1 class="text-3xl md:text-5xl font-bold">Qui nous sommes</h1>
    <div class="flex flex-col md:flex-row gap-6">

        <div class="flex flex-1">
            
            <img class="aspect-16/9 md:aspect-4/3  w-full h-full rounded-4xl " src="https://media.gettyimages.com/id/1280373829/photo/young-couple-working-behind-counter-in-music-store.jpg?s=2048x2048&w=gi&k=20&c=49hgUYdgzafj0oohw5bHnFTdbnaKorxd8X0it8J2AGA=" alt="">
        </div>
        <div class="text-left flex flex-col flex-2 justify-center">
            <h2 class="text-xl md:text-3xl">Lorem ipsum dolor sit amet.</h2>
            <p class="text-[#a0abc0] ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, id. Tempore, repellendus fuga commodi animi doloribus in velit eveniet consectetur? Neque cupiditate molestiae vitae libero dolorem ea soluta ad doloremque! Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex ipsa quam aut quae perferendis tenetur distinctio accusamus sunt, velit omnis alias nesciunt dicta minus inventore culpa! Consequatur quia rerum fugiat.</p>
        </div>
    </div>
</section>