<section class="py-6 px-5 text-center font-sans">
  <h2 class="text-[2rem] font-bold mb-18 text-gray-900">
    Cours de Musique
  </h2>

  <div class="mx-auto inline-grid grid-cols-2 gap-18 mb-30">

    <div class="container flex items-center justify-center h-full">
      <div class="intro section text-center">
        <div class="text-left">
          <h1 class="text-[1.8rem] font-semibold mb-4">Apprenez à votre rythme, avec plaisir</h1>
          <p class="text-gray-400 text-[1.3rem]">
            Que vous soyez débutant ou musicien souhaitant progresser, nos cours de musique sont conçus pour s’adapter à votre niveau, vos objectifs et votre style. Guitare, piano, violon, chant, batterie… choisissez l’instrument qui vous inspire, nous vous accompagnons dans votre apprentissage.
          </p>
        </div>
      </div>
    </div>

    <div class="container flex items-center justify-center h-full">
      <div class="text-center">
        <div>
          <img src="https://media.istockphoto.com/id/2160438355/photo/teacher-and-students-playing-guitar-together-during-music-lesson.jpg?s=612x612&w=0&k=20&c=xlzhBAQ5xibH3rOaXuQPnQwuruWli-LzOwGtuFOIS_4=" alt="Joueur de guitare" class="w-10/12 h-8/12 object-cover rounded-3xl">
        </div>
      </div>
    </div>
  </div>

      <div class="section mb-18 mx-30">
        <h1 class="text-[1.8rem] font-semibold mb-4">Des professeurs passionnés et expérimentés</h1>
        <p class="text-left text-gray-400 text-[1.3rem]">
          Nos enseignants sont tous des musiciens qualifiés, à l’écoute et passionnés par la transmission. Les cours peuvent se dérouler en individuel ou en petit groupe, dans une ambiance bienveillante et motivante. Notre priorité : que vous preniez confiance et plaisir à jouer.
        </p>
      </div>


        <h2 class="text-[1.8rem] font-semibold mb-4">Horaires flexibles & premiers cours sans engagement</h2>
  <p class="text-gray-400 text-[1.3rem]  mx-auto mb-8 text-sm">
    Nous proposons des créneaux variés en semaine et le week-end, pour s’adapter à votre emploi du temps. Vous pouvez aussi réserver un cours d’essai gratuit pour découvrir notre méthode et faire connaissance avec votre professeur. Il n’a jamais été aussi simple de commencer la musique !
  </p>

  <div class="flex flex-wrap justify-center gap-6 mb-18">
    <!-- Guitare -->
    <div class="bg-white rounded-xl shadow-md w-75 overflow-hidden hover:bg-gray-100 transition duration-300 ease-in-out group">
      <img src="https://www.parents.com/thmb/ZRneQeGqThv4iV61Nl25zgQMlhQ=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/GettyImages-96162171-2000-061841fa01cf428bb25fdf405e251907.jpg" alt="Guitare" class="w-full h-70 object-cover filter brightness-100 group-hover:brightness-93 transition duration-300 ease-in-out">
      <div class="bg-pink-100 py-6 group-hover:bg-red-300 transition duration-300 ease-in-out">
        <h3 class="text-[2rem] font-medium text-gray-800">Piano</h3>
        <div class="mt-2 inline-block bg-pink-200 text-red-600 text-sm font-semibold px-3 py-1 rounded-full group-hover:bg-red-500 group-hover:text-white transition duration-300 ease-in-out">20$</div>
      </div>
    </div>

    <!-- Trompette -->
    <div class="bg-white rounded-xl shadow-md w-75 overflow-hidden hover:bg-gray-100 transition duration-300 ease-in-out group">
      <img src="https://riversideguitarschool.com/wp-content/uploads/2022/08/group-classes-1.jpg" alt="Trompette" class="w-full h-70 object-cover filter brightness-100 group-hover:brightness-93 transition duration-300 ease-in-out">
      <div class="bg-pink-100 py-6 group-hover:bg-red-300 transition duration-300 ease-in-out">
        <h3 class="text-[2rem] font-medium text-gray-800">Guitare</h3>
        <div class="mt-2 inline-block bg-pink-200 text-red-600 text-sm font-semibold px-3 py-1 rounded-full group-hover:bg-red-500 group-hover:text-white transition duration-300 ease-in-out">30$</div>
      </div>
    </div>

    <!-- Violon -->
    <div class="bg-white rounded-xl shadow-md w-75 overflow-hidden hover:bg-gray-100 transition duration-300 ease-in-out group">
      <img src="https://thehappyviolinist.com/wp-content/uploads/2017/06/violin3-1080x675.jpg" alt="Violon" class="w-full h-70 object-cover filter brightness-100 group-hover:brightness-93 transition duration-300 ease-in-out">
      <div class="bg-pink-100 py-6 group-hover:bg-red-300 transition duration-300 ease-in-out">
        <h3 class="text-[2rem] font-medium text-gray-800 ">Violon</h3>
        <div class="mt-2 inline-block bg-pink-200 text-red-600 text-sm font-semibold px-3 py-1 rounded-full group-hover:bg-red-500 group-hover:text-white transition duration-300 ease-in-out">40$</div>
      </div>
    </div>
  </div>

      <div class="section mb-18">

          <div class="mt-8 rounded-lg p-6">
            <h3 class="text-[1.8rem] font-semibold text-gray-800 mb-4">Comment apprendre ?</h3>
            <p class="text-gray-400 mb-6 text-[1.3rem]">
              Venez vous inscrire dans une de nos succursales. Pour plus d’informations sur les cours ou toutes autres questions, n’hésitez pas à nous contacter!
            </p>
            <div class="text-center">
              <button class="bg-red-400 text-white font-semibold py-4 px-4 rounded hover:bg-red-500 transition duration-300 ease-in-out">
                Voir les succursales et méthodes de contact
              </button>
            </div>
          </div>
        </div>
</section>


