<section class="px-5 py-6 text-center">
	<h2 class="mb-18 text-[2rem] font-bold">Cours de Musique</h2>

	<div class="mx-auto mb-30 inline-grid grid-cols-2 gap-18">
		<div class="container flex h-full items-center justify-center">
			<div class="intro section text-center">
				<div class="text-left">
					<h1 class="mb-4 text-[1.8rem] font-semibold">Apprenez à votre rythme, avec plaisir</h1>
					<p class="text-muted text-[1.3rem]">
						Que vous soyez débutant ou musicien souhaitant progresser, nos cours de musique sont conçus pour s’adapter à votre
						niveau, vos objectifs et votre style. Guitare, piano, violon, chant, batterie… choisissez l’instrument qui vous
						inspire, nous vous accompagnons dans votre apprentissage.
					</p>
				</div>
			</div>
		</div>

		<div class="container flex h-full items-center justify-center">
			<div class="text-center">
				<div>
					<img
						src="https://media.istockphoto.com/id/2160438355/photo/teacher-and-students-playing-guitar-together-during-music-lesson.jpg?s=612x612&w=0&k=20&c=xlzhBAQ5xibH3rOaXuQPnQwuruWli-LzOwGtuFOIS_4="
						alt="Joueur de guitare"
						class="h-8/12 w-10/12 rounded-3xl object-cover"
					/>
				</div>
			</div>
		</div>
	</div>

	<div class="section mx-30 mb-18">
		<h1 class="mb-4 text-[1.8rem] font-semibold">Des professeurs passionnés et expérimentés</h1>
		<p class="text-muted text-left text-[1.3rem]">
			Nos enseignants sont tous des musiciens qualifiés, à l’écoute et passionnés par la transmission. Les cours peuvent se
			dérouler en individuel ou en petit groupe, dans une ambiance bienveillante et motivante. Notre priorité : que vous preniez
			confiance et plaisir à jouer.
		</p>
	</div>

	<h2 class="mb-4 text-[1.8rem] font-semibold">Horaires flexibles & premiers cours sans engagement</h2>
	<p class="text-muted mx-auto mb-8 text-sm text-[1.3rem]">
		Nous proposons des créneaux variés en semaine et le week-end, pour s’adapter à votre emploi du temps. Vous pouvez aussi
		réserver un cours d’essai gratuit pour découvrir notre méthode et faire connaissance avec votre professeur. Il n’a jamais été
		aussi simple de commencer la musique !
	</p>

	<div class="mb-18 flex flex-wrap justify-center gap-6">
		@for (course of courses; track course.title) {
			<div class="group w-75 overflow-hidden rounded-xl bg-white shadow-md transition duration-300 ease-in-out hover:bg-gray-100">
				<img
					[src]="course.imageUrl"
					[alt]="course.title"
					class="h-70 w-full object-cover brightness-100 filter transition duration-300 ease-in-out group-hover:brightness-93"
				/>
				<div class="bg-card py-6 transition duration-300 ease-in-out group-hover:bg-red-200">
					<h3 class="text-[2rem] font-medium">{{ course.title }}</h3>
					<div
						class="bg-primary/20 text-primary group-hover:bg-primary mt-2 inline-block rounded-full px-3 py-1 text-sm font-semibold transition duration-300 ease-in-out group-hover:text-white"
					>
						{{ course.price }}
					</div>
				</div>
			</div>
		}
	</div>

	<div class="section mb-18">
		<div class="mt-8 rounded-lg p-6">
			<h3 class="mb-4 text-[1.8rem] font-semibold">Comment apprendre ?</h3>
			<p class="text-muted mb-6 text-[1.3rem]">
				Venez vous inscrire dans une de nos succursales. Pour plus d’informations sur les cours ou toutes autres questions,
				n’hésitez pas à nous contacter!
			</p>
			<div class="text-center">
				<button
					class="bg-secondary hover:bg-primary rounded px-4 py-4 font-semibold text-white transition duration-300 ease-in-out"
				>
					Voir les succursales et méthodes de contact
				</button>
			</div>
		</div>
	</div>
</section>
