<script src="https://maps.googleapis.com/maps/api/js?key="></script>
<section>
    <div>
        
    </div>
</section>
<section class="px-5 py-6 text-center">
	<h2 class="mb-18 text-[2rem] font-bold">Nos Succursales</h2>


    
    
    <div class="flex flex-col gap-15 mb-18">
        <div class="inline-grid grid-cols-2">
            <div class="container flex h-full items-center justify-center">
                <div>
                    <h1 class="mb-12 text-[1.8rem] font-semibold">Montréal</h1>
                    <div class="text-muted text-[1.4rem]">150 Rue Sainte-Catherine E,<br>Montréal, Québec<br>H2X 1K9</div>
                    <div class="mt-12 text-[1.4rem] font-medium">514-514-5145</div>
                </div>            
            </div>

            <div class="container flex h-full items-center justify-center">
                <img class="" src="/succursales/montreal.png" alt="montreal"/>
            </div>
        </div>
        <div class="inline-grid grid-cols-2">
            <div class="container flex h-full items-center justify-center">
                <img class="" src="/succursales/greenfieldpark.png" alt="montreal"/>
            </div>
            <div class="container flex h-full items-center justify-center">
                <div>
                    <h1 class="mb-12 text-[1.8rem] font-semibold">Greenfield Park</h1>
                    <div class="text-muted text-[1.4rem]">100 Avenue Auguste,<br>Greenfield Park, Québec<br>J4V 3R4</div>
                    <div class="mt-12 text-[1.4rem] font-medium">450-450-4504</div>
                </div>            
            </div>
        </div>    
    </div>

</section>